{% extends 'newbase.html' %}

{% block title %}
  {{ super() }}
  Classroom
{% endblock %}

{% block main %}
<!-- EMPTY BOARD GRID -->
<div class='container'>
  <h1>Board overview</h1><br>
  <div class='row' id='grid'>
  </div>
</div>

<!-- BOARD INFO MODAL -->
{% include 'infomodal.html' %}

<!-- BOARD ENLARGE MODAL -->
{% include 'enlargemodal.html' %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('site.script', filename='classroom.js') }}"></script>
<script src="{{ url_for('static', filename='js/jcanvas.min.js') }}"></script>
{% endblock %}
