{% extends 'newbase.html' %}

{% block title %}
  {{ super() }}
  Classroom
{% endblock %}

{% block main %}
<!--  ACTIVITY PLAYER AND TOGGLE SWITCH -->



<!-- EMPTY BOARD GRID -->
<div class='container'>

  <!--  TABLET & COMPUTER TOOLBAR -->
  <div class='row hidden-xs'>
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 activity-player">
      <span class="label label-success classroom-player-status" style="padding-left:10px">LIVE</span>
      <span class="classroom-player-activity" style="padding-left:3%">NO ACTIVITY</span>
      <span class="glyphicon glyphicon-play classroom-player-start" aria-hidden="true" style="padding-left:2.5%;margin-bottom:4px"></span>
      <span class="glyphicon glyphicon-stop classroom-player-stop hidden" aria-hidden="true" style="padding-left:1%; padding-right:0.7%;margin-bottom:4px"></span>
      <span class="classroom-player-time hidden" style="padding-left:2%">00:00:00</span>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 classroom-toggle">
      <div class="btn-group btn-toggle">
        <button class="btn btn-default toggle-button toggle-boards active">Boards</button>
        <button class="btn btn-default toggle-button toggle-stats">Stats</button>
      </div>
    </div>
  </div>

  <!-- MOBILE TOOLBAR -->
  <div class='row visible-xs-block'>
    <div class="col-xs-12">
    <div class="col-xs-12 activity-player">
      <span class="label label-success classroom-player-status">LIVE</span>
      <span class="classroom-player-activity" style="padding-left:2%">NO ACTIVITY</span>
    </div>
    <div class="col-xs-12 activity-player">
      <span class="glyphicon glyphicon-play classroom-player-start" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-stop classroom-player-stop hidden" aria-hidden="true" style="padding-left:1%; padding-right:0.7%"></span>
    </div>
    <div class="col-xs-12 activity-player">
      <span class="classroom-player-time hidden">00:00:00</span>
    </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 classroom-toggle">
      <div class="btn-group btn-toggle">
        <button class="btn btn-default toggle-button toggle-boards active">Boards</button>
        <button class="btn btn-default toggle-button toggle-stats">Stats</button>
      </div>
    </div>

  </div>

  <br>
  <!-- <h1>Board overview</h1><br> -->

  <div id="allboards">
    <div class="row" id="grid">
    </div>
  </div>

  <div id="allstats" style="display: none;">
    <div class="row">

      <div class="col-sm-6 col-md-6 col-lg-3">
        <div id="progression-donut"></div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-3">
        <div id="accuracy-donut"></div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-3">
        <div id="fluency-donut"></div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-3">
        <div id="systematicity-donut"></div>
      </div>

    </div>
  </div>

</div>

<!-- BOARD INFO MODAL -->
{% include 'infomodal.html' %}
<!-- BOARD ENLARGE MODAL -->
{% include 'enlargemodal.html' %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('site.script', filename='classroom.js') }}"></script>
<script src="{{ url_for('site.script', filename='stats.js') }}"></script>
<script src="{{ url_for('site.script', filename='boards.js') }}"></script>
<script src="{{ url_for('site.script', filename='enlarge.js') }}"></script>
<script src="{{ url_for('site.script', filename='info.js') }}"></script>
<script src="{{ url_for('site.script', filename='player.js') }}"></script>
<script src="{{ url_for('static', filename='js/jcanvas.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/raphael.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/morris.min.js') }}"></script>
<script>

var tempClassroom = null;
var activity_id = 0;
var activity_type = 0;
var clockTimer;

$(document).ready(function() {

  // Enable bootstrap popovers
  $('[data-toggle="popover"]').popover();

  $('.classroom-player-status').each( function () {
    $(this)[0].textContent = "CONNECTING";
    $(this).removeClass('label-success').addClass('label-default');
  });

  // Update boards and stats data
  var classroomTimer = setInterval(updateClassroom, 3000);
  updateClassroom();

  // Update player data
  updatePlayer();

  // Init stats graphs
  progressionDonut();
  accuracyDonut();
  fluencyDonut();
  systematicityDonut();

  $(window).resize(respondCanvas);

  window.onbeforeunload = function() {
    console.log('pausing activity due to page refresh/close');
    pauseActivity(activity_id);
    return 'message';
  }

  $('.toggle-stats').click( function () {
    console.log('loading stats');
    if(activity_type != 0) {
      $('#allboards').hide(200);
      $("#allstats").show(200, function () {
        window.progressionDonut.redraw();
        window.accuracyDonut.redraw();
        window.fluencyDonut.redraw();
        window.systematicityDonut.redraw();
      });
    }
    else {
      alert('Statistics are only available when an activity is running. Please start an activity first.');
    }
  });
  $('.toggle-boards').click( function () {
    console.log('loading boards');
    $("#allstats").hide(200);
    $('#allboards').show(200, respondCanvas);
  });

});
</script>
{% endblock %}
