<!-- BOARD ENLARGE MODAL -->
<div class="modal fade" id="enlargeModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <canvas width="2000" height="2000" class="enlarge-canvas"></canvas>
        <div class="row" style="display:flex; align-items:center;">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h4 class="modal-title" id="enlarge-user" style="text-align:left; padding-left:10%;"></h4>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
            <span class="glyphicon glyphicon-step-backward enlarge-player-previous" aria-hidden="true" style="font-size:150%;"></span>
            <span class="glyphicon glyphicon-pause enlarge-player-pause" aria-hidden="true" style="font-size:150%; padding-left:5%; padding-right:3%"></span>
            <span class="glyphicon glyphicon-step-forward enlarge-player-next" aria-hidden="true" style="font-size:150%;"></span>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="text-align:right; padding-right:5%;">
            <span class="label label-success enlarge-player-status" style="margin-right:10%;">LIVE</span>
            <button class="btn btn-default modal-button open-zoom" style="margin-bottom:15%"><span class="glyphicon glyphicon-new-window" aria-hidden="true" style="font-size:100%"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
