{% extends 'newbase.html' %} {% block title %} {{ super() }} Exercises {% endblock %} {% block main %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 classroom-toggle text-right">
      <div class="btn-group btn-toggle">
        <button class="btn btn-default toggle-button toggle-library active">Library</button>
        <button class="btn btn-default toggle-button toggle-history">History</button>
      </div>
    </div>
  </div>

  <div class="row" id="exerciselib">
    <h1>Exercise library</h1>
    <br>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color:#F6F6F6; border-radius:10px; padding-left:5%">
      <h3>Number bonds</h3>
      <form class="form-horizontal" id="numberbonds" action="">
        <div class="form-group col-xs-12 col-sm-8 col-md-8 col-lg-8" style="padding-right:5%;">
          <h4 style="padding-top:10px">Target number</h4>
          <div data-toggle="buttons">
            <label class="btn btn-circle btn-lg active" style="padding-left:12px; background-color:#F6A623"><input type="radio" name="10" value="10">10</label>
            <label class="btn btn-circle btn-lg" style="background-color:#4990E2"><input type="radio" name="9" value="9">9</label>
            <label class="btn btn-circle btn-lg" style="background-color:#8B572A"><input type="radio" name="8" value="8">8</label>
            <label class="btn btn-circle btn-lg" style="background-color:#4A4A4A"><input type="radio" name="7" value="7">7</label>
            <label class="btn btn-circle btn-lg" style="background-color:#417505"><input type="radio" name="6" value="6">6</label>
            <label class="btn btn-circle btn-lg" style="background-color:#F7E500"><input type="radio" name="5" value="5">5</label>
            <label class="btn btn-circle btn-lg" style="background-color:#BD0FE1"><input type="radio" name="4" value="4">4</label>
            <label class="btn btn-circle btn-lg" style="background-color:#7ED321"><input type="radio" name="3" value="3">3</label>
          </div>
        </div>
        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h4 style="padding-top:10px">Maximum solution size</h4>
        <div class="input-group" style="width:170px;height:40px; padding-top:25px">
          <span class="input-group-btn">
        <button type="button" class="btn btn-default btn-spinner" data-value="decrease" data-target="#spinner" data-toggle="spinner">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
          </span>
          <input type="text" data-ride="spinner" id="spinner" class="form-control input-number" value="2" data-min="2" data-max="10" style="height:40px">
          <span class="input-group-btn">
        <button type="button" class="btn btn-default btn-spinner" data-value="increase" data-target="#spinner" data-toggle="spinner">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          </span>
        </div>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <button type="button" id="#begin-numberbonds" class="btn btn-default" onclick="startNumberbonds()">Start Activity</button>
          </div>
      </form>
    </div>
  </div>

  <div class="row" id="historylog" style="display: none;">
    <h1>Activity history</h1>
    <br>
    <table class="table table-striped table-borderless">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Started</th>
          <th>Ended</th>
          <th>Duration</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for activity in current_user.classroom.activities %}
        {% if activity.type.id > 0 and activity.ended != None %}
        <tr>
          <td>{{activity.id}}</td>
          <td>{{activity.type.name}} to {{activity.type.target}}</td>

          <td>{{activity.started}}</td>
          <td>{{activity.ended}}</td>
          <td>{{activity.elapsed}}</td>
          <td class="text-right"><a class="btn modal-button" style="margin-top:0px!important">Print Reports</a></td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <br>
  </div>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('site.script', filename='exercises.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-spinner.min.js') }}"></script>
<script>
  $('.spinner').spinner();

  $('.toggle-history').click( function () {
    console.log('loading history');
    $("#exerciselib").hide(200);
    $('#historylog').show(200);
  });

  $('.toggle-library').click( function () {
    console.log('loading library');
    $("#historylog").hide(200);
    $('#exerciselib').show(200);
  });
</script>
{% endblock %}
