{% extends "newbase.html" %}
{% block title %} {{ super() }} Smartrods - Home {% endblock %}
{% block head %} {{super()}} {% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

{% block navbar %}
<nav class="navbar navbar-default">
 <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
   <button id='menu-button' type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div id='brand-logo'>
          <a class="navbar-brand"  href="{{ url_for('site.home') }}">
		      <img alt="Brand"  src="{{ url_for('static', filename='img/logo-text.png') }}" height=80%></img>
		      </a>
        </div>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar">
   <ul class="nav navbar-nav">
    <li ><a id="site-classroom" href="{{ url_for('site.classroom') }}">Classroom</a></li>
    <li ><a id="site-exercises" href="{{ url_for('site.exercises') }}">Exercises</a></li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
		 {% if current_user.is_authenticated %}
    <li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current_user.firstname|title}} <span class="caret"></span></a>
     <ul class="dropdown-menu">
      <li><a id="user-profile" href="{{ url_for('user.profile', username=current_user.username) }}">Profile</a></li>
      <li role="separator" class="divider"></li>
      <li><a id="user-logout" href="{{ url_for('user.logout') }}">Log Out</a></li>
    </ul>
   </li>
			{% else %}
			<li><a id="user-login" href="{{ url_for('user.login') }}">Log In</a></li>
			{% endif %}

    <li><a id="site-settings" href="" class="glyphicon glyphicon-cog" style="margin-top:-1px"></a></li>
   </ul>
  </div>
  <!-- /.navbar-collapse -->
 </div>
 <!-- /.container-fluid -->
</nav>
{% endblock %}

<body style="background-image:url({{ url_for('static', filename='img/rods-blur.png') }});background-size: 200% 400%;">

  <div class="container">
  {% block flash_messages %}
      {%- with messages = get_flashed_messages(with_categories=true) -%}
          {% if messages %}
              {% for category, message in messages %}
                  {% if category=='error' %}
                      {% set category='danger' %}
                  {% endif %}
                  <div class="alert alert-{{category}}">
                    <span><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></span>
                    {{ message|safe }}
                  </div>

              {% endfor %}
          {% endif %}
      {%- endwith %}
  {% endblock %}
  </div>

  <div class="container text-left">
    <br>
    {% if current_user.is_authenticated %}
    <h1 style="color:white;font-size:300%">Welcome, {{current_user.firstname}}</h1>
    <br>
    <h3 style="color:white; display:inline; margin-right:20px; vertical-align:middle">Classroom: {{current_user.classroom.name}}</h3>
    <a href="{{url_for('site.classroom')}}" class="btn btn-default" style="margin-right:20px;display:inline">Go To Classroom</a><br><br>
    <h3 style="color:white; display:inline; margin-right:20px; vertical-align:middle">Board ID: {{current_user.board.id}}</h3>
    <a onclick='window.open("{{url_for('site.virtual', board_id=current_user.board.id)}}")' class="btn btn-default" style="display:inline">Virtual Board</a><br><br>
    {% if current_user.classroom.activities|length > 0 %}
      {% if current_user.classroom.activities[-1].type.id > 0 %}
      <h3 style="color:white; display:inline; margin-right:20px; vertical-align:middle">Currently running: {{current_user.classroom.activities[-1].type.name}} to {{current_user.classroom.activities[-1].type.target}}</h3>
      <a href="{{url_for('site.classroom')}}" class="btn btn-default" style="display:inline">See Activity</a>
      {% else %}
      <h3 style="color:white; display:inline; margin-right:20px; vertical-align:middle">No activity running</h3>
      <a href="{{url_for('site.exercises')}}" class="btn btn-default" style="display:inline">Start Activity</a>
      {% endif %}
    {% else %}
    <h3 style="color:white; display:inline; margin-right:20px; vertical-align:middle">No activity running</h3>
    <a href="{{url_for('site.exercises')}}" class="btn btn-default" style="display:inline">Start Activity</a>
    {% endif %}
    {% else %}
    <h1 style="color:white;font-size:500%">Welcome to Smart Rods</h1>
    <br>
    <div class='row'>

      <div class='col-sm-6 col-md-6 col-lg-6'>
        <h3 style="color:white">Please login to view your classroom or start an activity</h3>
        <br>
        <a href="{{url_for('user.login')}}" class="btn btn-default">Log In</a>
        <br>
        <br>
        <br>
      </div>
      <div class='col-sm-6 col-md-6 col-lg-6'>
        <div class="video-container"><iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/a69TPEMen7I?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div>
      </div>
    </div>
    {% endif %}
  </div>


</body>

{% block scripts %} {{ super() }} {% endblock %}

{% endblock %}
