{% extends 'newbase.html' %}

{% block title %}
  {{ super() }}
  Test
{% endblock %}

{% block content %}
<div class='container'>
  <div class='row' id='title'>
    <h1>Multiple boards in grid</h1>
    <br>
  </div>
  <div class='row' id='grid'>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='js/jcanvas.min.js') }}"></script>

<script>

var boardDiv = $('<div>').attr('class', 'col-xs-12 col-sm-4 col-md-3 col-lg-2').attr('style', 'background-color:pink').append($('<canvas>').attr('width', '200').attr('height', '200'),
$('<h4>').attr('class', 'board-username').attr('style', 'text-align:left'));

var colours = [
    "#E1E1E1", // 0 - empty
    "#FFFFFF", // 1 - white
    "#D0011B", // 2 - red
    "#7ED321", // 3 - light green
    "#BD0FE1", // 4 - purple
    "#F7E500", // 5 - yellow
    "#417505", // 6 - dark green
    "#4A4A4A", // 7 - black
    "#8B572A", // 8 - brown
    "#4990E2", // 9 - blue
    "#F6A623" // 10 - orange
  ];

var temp = null;

function drawBoard(canvas, id, data) {

  var canvasSize = canvas.width;
  var boardSize = canvasSize * 0.9;

  $(canvas).drawRect({
    layer: false,
    name: String('board_' + id),
    x: canvasSize / 2,
    y: canvasSize / 2,
    height: boardSize * 1.1,
    width: boardSize * 1.1,
    cornerRadius: boardSize / 25,
    fillStyle: "#E2E2E2",
    fromCenter: true
  });

  // Parse input data
  var input =  data.replace(/{/g, "[").replace(/}/g, "]");
  var rods = JSON.parse("[" + input + "]")[0];

  for (var row in rods) {
   var column = 0;
   while (column < 9) {
     //console.log('column ' + column);
     var value = parseInt(rods[row][column], 10);
     //console.log('cell value: ' + value);
     if (value === 0) {
       column = column + 1;
       //console.log('empty cell');
     } else {
       //console.log("adding rod " + value + " to board " + id);
       // Draw rod
       $(canvas).drawRect({
         layer: false,
         name: String("rod_" + value),
         //groups: ["rods"],
         x: canvasSize * 0.05 + boardSize / 10 * column,
         y: canvasSize * 0.05 + boardSize / 10 * row,
         height: boardSize / 10,
         width: boardSize * value / 10,
         fillStyle: $(colours)[value],
         strokeStyle: "#E1E1E1",
         strokeWidth: boardSize / 100,
         cornerRadius: boardSize / 50,
         fromCenter: false
       });
       column = column + value;
     }
   }
 }

}

function pollBoards() {
  $.ajax({
           type: "GET",
           url: "/api/classrooms/{{current_user.classroom_id}}",
           data: '',
           contentType: "application/json; charset=utf-8",
           dataType: "json",
           username: 'smartrods',
           password: 'fae2ba5c-7a51-407b-9c0a-1366ce610ff1',
           success: function (result) {
             //console.log(result);
           },
           error: function (error) { console.log(error); }
  })
    .done(function(data) {

      // The first time we poll we create everything
      if (temp === null) {
        for (i in data) {
          createBoard(data[i]);
        }
      }
      // Otherwise, check if something has changed
      else {
        // Check if some of the boards have changed
        for (i in data) {

          // Check if board exists in previous data received
          var last = temp.filter(function (board) {
            return (board.id === data[i].id);
          });

          if (last === null) {
            createBoard(data[i]);
          }
          else if (data[i].rods != last[0].rods) {
            updateBoard(data[i]);
          }
          else {
            console.log('no boards to update');
          }
      }
      };

      temp = data;
      respondCanvas();

    })
    .always(function() {
      setTimeout(pollBoards, 5000);
    });
}

function createBoard(data) {
  console.log('creating new tile for board ' + data.id);
  // Create new div
  var board = $(boardDiv).clone();
  var canvas = $(board).find('canvas');
  // Give div the id of the board and insert user name
  canvas.attr('id', String('board_' + data.id));
  $(board).find('h4').text(data.user);
  // Draw board
  drawBoard(canvas[0], data.id, data.rods);
  // Add div to page
  $('#grid').append(board);
}

function updateBoard(data) {
  console.log('updating contents of board ', data.id);

  // Draw board
  var canvas = $(String('board_' + data.id));
  drawBoard(canvas, data.id, data.rods);
}

function respondCanvas() {
  $('canvas').each( function () {
    var container = $(this).parent();
    var size = $(container).width();
    var id = parseInt($(this).attr('id').split('_').pop(), 10);
    var data = temp.filter(function (board) {
      return (board.id === id);
    });
    $(this).attr('width', size);
    $(this).attr('height', size);
    drawBoard(this, id, data[0].rods);
  });

}

$(document).ready(function() {

  pollBoards();

  $(window).resize(respondCanvas);

});

</script>

{% endblock %}
