.container {
  margin-left: auto;
  margin-right: auto;
}

.login-rectangle {
	height: 650px;
	width: 450px;
	border-radius: 12px;
	background-color: #F6F6F6;
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.23);
}

.login-logo {
  max-width:80%;
  max-height: auto;
  display: block;
  margin: auto;
}
.white-btn {
  height: 41px;
  width: 197px;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.username {
  margin: auto;
	color: #9B9B9B;
	font-family: Europa;
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 21px;
	text-align: center;
}
