{% extends "newbase.html" %}

{% block main %}
<div class="container">
    <div class="row" style="margin-left:1%;margin-right:1%">
        <div id='flask-user' class="col-sm-8 col-md-8 col-lg-8 col-centered">
            {% block user %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$('body').attr('style', "background-image:url({{ url_for('static', filename='img/rods-blur.png') }});background-size: 200% 400%;");
</script>
{% endblock %}
